# Android / Gradle
*.iml
.gradle/
build/

# Kotlin
.kotlin/

# IDE
.idea/
.vscode/

# Android Studio specific
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local config
local.properties

# Native build
.externalNativeBuild/
.cxx/

# Screenshots
/captures/