# Android / Gradle
*.iml
.gradle
.gradle/
build/
/build

# Kotlin
.kotlin/

# IDE
.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local config
local.properties
/local.properties

/captures
.externalNativeBuild
.cxx
